@charset "UTF-8";
.navbar {
  background-color: #727171;
  z-index: 900;
}
.navbar form {
  align-items: center;
}

p {
  margin: 0px;
}

.container-fluid > div:hover {
  color: #ffffff;
}

.navbar-nav {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: row;
  z-index: 900;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 22px;
  padding: 20px 10px;
}

.navbar-toggler {
  border-color: #ffffff;
  transform: translate(-10px, 10px);
}

.bi-search::before {
  color: #ffffff;
  font-size: 22px;
}

.logo-img {
  width: 200px;
  height: 150px;
  margin: 10px auto;
  display: block;
  border-radius: 50px;
}

.contenedor-animacion {
  height: 20px;
}

.saludo {
  width: 100px;
  height: 100px;
  transform: translate(110px, -80px);
}

.collapse:not(.show) {
  display: flex;
}

.nav-link {
  display: block;
  padding: 10px 12px;
  text-transform: uppercase;
  font-size: 15px;
}

.nav-item > .nav-link.active {
  border-bottom: 3px solid #dfbbbb;
  color: #dfbbbb;
  font-size: 17px;
  font-weight: bold;
}

.nav-link:hover {
  color: #dfbbbb;
  font-weight: bold;
}

.dato-secundario::before {
  content: " / ";
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
  }
  .nav-link {
    width: 160px;
  }
  .navbar > .container-fluid {
    justify-content: center;
  }
  .container-fluid > div {
    order: 3;
    height: 20px;
    font-size: 20px;
    margin-top: 10px;
    padding: 0px;
  }
  .container-fluid > button {
    order: 1;
    margin: 0px 5px;
  }
  .container-fluid > form {
    order: 2;
    width: calc(85% - 30px);
    margin: 0px 5px;
  }
  .cabecera {
    display: inline-block;
  }
  .logo-img {
    display: none;
  }
  .navbar-nav {
    float: left;
    width: 300px;
  }
  .collapse:not(.show) {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .dato-secundario {
    display: none;
  }
  .navbar-nav {
    width: 100%;
  }
}
.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px;
}
.footer label {
  transform: translateX(-12px);
}
.footer a, .footer a img {
  width: 35px;
  border-radius: 30px;
}
.footer-bar {
  margin-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background: #727171;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  background-color: #ffffff;
  overflow-x: hidden;
}

.fotos-carousel {
  margin: 20px 100px;
}

.carousel-caption.d-none.d-md-block {
  background-color: rgba(114, 113, 113, 0.6196078431);
}
.carousel-caption.d-none.d-md-block p {
  font-size: 30px;
  font-family: "Montserrat";
}
.carousel-caption.d-none.d-md-block h5 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat";
}

.separador-secciones {
  width: 100%;
  height: 24px;
  border-bottom: 2px solid #dfbbbb;
  text-align: center;
  margin-bottom: 50px;
}
.separador-secciones span {
  padding: 10px 20px;
  font-size: 30px;
  color: #ffffff;
  background-color: #dfbbbb;
  border: 1px solid #dfbbbb;
}

.card {
  width: 18rem;
  border: none;
}
.card img {
  transform: translateX(24px);
}
.card .card-body {
  transform: translate(24px, -10px);
}

.card-body {
  text-align: center;
}

main {
  min-height: 600px;
  padding: 20px;
}

.consejo {
  border: 4px solid #ffffff;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(29, 39, 54) 0%, rgb(168, 168, 168) 100%);
  margin: 50px 0px;
  padding: 10px;
}
.consejo .col-lg-4.col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.consejo .parrafo {
  margin: 0px;
  padding: 20px;
  color: #ffffff;
}
.consejo .card {
  align-items: center;
}
.consejo .card img {
  transform: none;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

/* Media queries */
@media screen and (max-width: 767px) {
  .consejo:nth-child(even) {
    flex-direction: column-reverse;
  }
  .fotos-carousel {
    margin: 20px 20px;
  }
  .container {
    max-width: 346px;
  }
  #contacto.container {
    max-width: 600px;
  }
}
@media screen and (max-width: 576px) {
  .container-fluid > form {
    order: 2;
    width: calc(85% - 30px);
    margin: 0px;
  }
  #contacto.container .row {
    flex-direction: column-reverse;
  }
  #contacto.container .row .col {
    margin-bottom: 100px;
  }
  .mb-3.row label {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .consejo .card {
    width: auto;
  }
  .consejo .card .card-body {
    transform: translate(5px, -10px);
  }
}

/*# sourceMappingURL=estilos.css.map */
