$colores: (
    header-backgroud: #727171,
    carrousel-background: #7271719e,
    body-background: #ffffff,
    consejos-background: linear-gradient(90deg, rgba(29,39,54,1) 0%, rgba(168,168,168,1) 100%),
    color-principal: #dfbbbb,
    color-secundario: #ffffff
);

