.footer {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;

    label {
        transform: translateX(-12px);
    }

    a {
        width: 35px;
        border-radius: 30px;

        img {
            @extend a;
        }
    }
}

.footer-bar {
    margin-top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background:  map-get($map: $colores, $key: header-backgroud);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }