// Agrego los imports de los componentes
@import "fuentes";
@import "colores";
@import "navbar";
@import "footer";

//Creacion de mixines

@mixin crearTexto($size, $weight) {
  font-size: $size;

  @if($weight !="") {
    font-weight: $weight;
  }

  font-family: map-get($map: $fuentes, $key: font-principal);
}

@mixin definirAltoAncho($width, $height) {
  width: $width;
  height: $height;
}

@mixin definirMarginPadding($margin, $padding) {
  @if($margin !="") {
    margin: $margin;
  }

  @if($padding !="") {
    padding: $padding;
  }
}

// Inicio del codigo sass para el main de todas las paginas

* {
  @include definirMarginPadding(0, 0);
}

body {
  font-family: map-get($map: $fuentes, $key: font-principal);
  background-color: map-get($map: $colores, $key: body-background);
  overflow-x: hidden;
}

.fotos-carousel {
  @include definirMarginPadding(20px 100px, "");
}

.carousel-caption.d-none.d-md-block {
  background-color: map-get($map: $colores, $key: carrousel-background);

  p {
    @include crearTexto(30px, "");
  }

  h5 {
    @include crearTexto(20px, bold);
  }
}

.separador-secciones {
  @include definirAltoAncho(100%, 24px);
  border-bottom: 2px solid map-get($map: $colores, $key: color-principal);
  text-align: center;
  margin-bottom: 50px;

  span {
    @include definirMarginPadding("", 10px 20px);
    font-size: 30px;
    color: map-get($map: $colores, $key: color-secundario);
    background-color: map-get($map: $colores, $key: color-principal);
    border: 1px solid map-get($map: $colores, $key: color-principal);
  }
}

.card {
  width: 18rem;
  border: none;

  img {
    transform: translateX(24px);
  }

  .card-body {
    transform: translate(24px, -10px);
  }
}

.card-body {
  text-align: center;
}

main {
  min-height: 600px;
  padding: 20px;
}


.consejo {
  border: 4px solid map-get($map: $colores, $key: color-secundario);
  border-radius: 10px;
  background: map-get($map: $colores, $key: consejos-background);
  @include definirMarginPadding(50px 0px, 10px);

  .col-lg-4.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .parrafo {
    @include definirMarginPadding(0px, 20px);
    color: map-get($map: $colores, $key: color-secundario);
  }

  .card {
    align-items: center;

    img {
      transform: none;

    }
  }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}


/* Media queries */

@media screen and (max-width: 767px) {
  .consejo:nth-child(even) {
    flex-direction: column-reverse;
  }

  .fotos-carousel {
    margin: 20px 20px;
  }

  .container {
    max-width: 346px;
  }

  #contacto.container {
    max-width: 600px;
  }

}

@media screen and (max-width: 576px) {
  .container-fluid>form {
    order: 2;
    width: calc(85% - 30px);
    margin: 0px;
  }

  #contacto.container .row {
    flex-direction: column-reverse;
  }

  #contacto.container .row .col {
    margin-bottom: 100px;
  }

  .mb-3.row label {
    display: none;
  }

}

@media screen and (max-width: 390px) {
  .consejo {

    .card {
      width: auto;

      .card-body {
        transform: translate(5px, -10px);
      }
    }
  }

}